/** FORM **/
form {
  ion-item {
    --padding-bottom: 20px;

    ion-textarea {
      .textarea-bottom.textarea-bottom.sc-ion-textarea-md {
        border-top: none;
      }
    }
  }

  ion-button[type="submit"] {
    position: absolute;
    bottom: 10px;
    left: 5%;
    right: 5%;
  }
}