/** FORM **/
form {
  padding-bottom: 50px;

  ion-item {
    --border: none;
    --padding-bottom: 20px;

    ion-textarea {
      .textarea-bottom.textarea-bottom.sc-ion-textarea-md {
        border-top: none;
      }
    }
  }

  ion-button[type="submit"] {
    position: fixed;
    bottom: 10px;
    left: 5%;
    right: 5%;
    z-index: 1;
  }
}